<h1>Mortes</h1>
<table>
  <thead>
    <td>Pais</td>
    <td>Cidade</td>
    <td>Confirmados</td>
    <td>Ultima atualização</td>
  </thead>

  <tbody>
    <% @deaths.each do |deaths|%>
      <tr>
        <td><%= deaths['countryRegion']%></td>
        <td><%= deaths['provinceState']%></td>
        <td><%= deaths['confirmed']%></td>
        <td><%= Time.at(deaths['lastUpdate'].to_i/1000).strftime('%d/%m/%Y %H:%M:%S')%></td>
      </tr>
    <% end %>
  </tbody>
</table>
