<h1>Dados atualizados do COVID19</h1>


<p>Confirmados: <%= @summary['confirmed']['value']%></p>
<p>Recuperados: <%= @summary['recovered']['value']%></p>
<p>Mortes: <%= @summary['deaths']['value']%></p>