<div class="container">
<h1>Resultado busca de livros</h1>



<% @summary['items'].each do |item| %>
  <p>Livro: <%= item['volumeInfo']['title']%></p> %>


  <% form_tag do %>
  
  <%= text_field_tag 'busca' %>


  <% end %>


  <%# if item['volumeInfo']['imageLinks']['smallThumbnail']? %>

    <%# thumb = item['volumeInfo']['imageLinks']['smallThumbnail']%>
    <%#=image_tag thumb %>
  <%# end %>
<% end %>
</div>